
# Heroes Of Pymoli Data Analysis - J Vacanti

### Insights
#### 1. The vast majority of players are males (81%) and male playes also have the highest average purchase price.
#### 2. Players in the 20-24 age group have the highest number of players and highest total purchase value. 
#### 3. The Retribution Axe is one of the most popular and profitable items

In [1]:
# Dependencies
import pandas as pd
import os

In [2]:
file_one = os.path.join("Resources", "purchase_data.json")
#file_tow = os.path.join("Resources", "purchase_data2.json")

In [3]:
file_one_df = pd.read_json(file_one, encoding = "ISO-8859-1")
#file_two_df = pd.read_json(file_tow, encoding = "ISO-8859-1")

In [4]:
#file_one_df.head()

In [5]:
#file_two_df.head()

In [6]:
# Append the files
merged_df = file_one_df
#merged_df.head()

In [7]:
# Total Unique Players
UniquePlayerCount = merged_df["SN"].value_counts()

## Player Count

In [8]:
# Count of Unique Players
TotalPlayers = UniquePlayerCount.count()
TotalPlayers_df = pd.DataFrame({"Total Players":[TotalPlayers]})
TotalPlayers_df

   Total Players
0            573

## Purchasing Analysis

In [9]:
# Unique item count
UniqueItemCount = merged_df["Item ID"].value_counts()

In [10]:
# Total unique items
TotalUnique = UniqueItemCount.count()

TotalUnique_df = pd.DataFrame({"Total Unique Items":[TotalUnique]})

In [11]:
# Avg purchase price
avg_price = merged_df["Price"].mean()

In [12]:
#No. of Purchases
NoOfPurchases = merged_df["Gender"].count()

In [13]:
#Total Revenue
TotalRev = merged_df["Price"].sum()

In [14]:
purchase_analysis_df = pd.DataFrame({"Number of Unique Items":[TotalUnique],
                                 "Avg Puchase Price":[avg_price],
                                    "Total Revenue":[TotalRev],
                                    "No. of Purchases":[NoOfPurchases]})
purchase_analysis_df.round(2)

   Avg Puchase Price  No. of Purchases  Number of Unique Items  Total Revenue
0               2.93               780                     183        2286.33

## Gender Demographics

In [15]:
# Create DF removing duplicate screen names to accurate counts
deduped_df = merged_df.drop_duplicates("SN")

In [16]:
#Total Count Male and Female
count = deduped_df["Gender"].value_counts()

In [17]:
# Filter DF by Gender
male_df = deduped_df.loc[deduped_df["Gender"] == "Male",:]
female_df = deduped_df.loc[deduped_df["Gender"] == "Female",:]
NA_df = deduped_df.loc[deduped_df["Gender"] == "Other / Non-Disclosed",:]

In [18]:
# Counts of each gender
count_male = male_df["Gender"].count()
count_female = female_df["Gender"].count()
count_NA = NA_df["Gender"].count()

In [19]:
# Percentages of each gender
male_percent = count_male/TotalPlayers
female_percent = count_female/TotalPlayers
NA_percent = count_NA/TotalPlayers

In [20]:
# Gender Demographics dataframe
gender_df = pd.DataFrame({
    "Gender":["Male", "Female", "Other/Non-Disclosed"],
    "Percentage of Players":[male_percent, female_percent, NA_percent],
    "Total Count":[count_male, count_female, count_NA]
})
#gender_df

In [21]:
gender_final = gender_df
gender_final["Percentage of Players"] = pd.Series(["{0:.2f}%".format(val * 100) for val in gender_df["Percentage of Players"]], index = gender_df.index)
gender_final

                Gender Percentage of Players  Total Count
0                 Male                81.15%          465
1               Female                17.45%          100
2  Other/Non-Disclosed                 1.40%            8

## Purchasing Analysis (Gender)

In [22]:
# This analysis uses the entire data set rather than the one deduped by SN used for Gender Demographics Analysis. 
male2_df = merged_df.loc[merged_df["Gender"] == "Male",:]
female2_df = merged_df.loc[merged_df["Gender"] == "Female",:]
NA2_df = merged_df.loc[merged_df["Gender"] == "Other / Non-Disclosed",:]

In [23]:
# Purchase count by gender
F_PurchaseCount = female2_df["Gender"].count()
M_PurchaseCount = male2_df["Gender"].count()
NA_PurchaseCount = NA2_df["Gender"].count()

In [24]:
# Avg purchase price
F_AvgPurchasePrice = female2_df["Price"].mean()
M_AvgPurchasePrice = male2_df["Price"].mean()
NA_AvgPurchasePrice = NA2_df["Price"].mean()

In [25]:
#Total purchase value
F_PurchaseValue = female2_df["Price"].sum()
M_PurchaseValue = male2_df["Price"].sum()
NA_PurchaseValue = NA2_df["Price"].sum()

In [26]:
# Normalized is purchase value divided by count of gender
F_normalized = F_PurchaseValue/count_female
M_normalized = M_PurchaseValue/count_male
NA_normalized = NA_PurchaseValue/count_NA

In [27]:
PurchasingAnalysis_df = pd.DataFrame({
    "Gender":["Male", "Female", "Other/Non-Disclosed"],
    "Purchase Count":[M_PurchaseCount, F_PurchaseCount, NA_PurchaseCount],
    "Purchase Price (Avg)":[M_AvgPurchasePrice, F_AvgPurchasePrice, NA_AvgPurchasePrice],
    "Total Purchase Value":[M_PurchaseValue, F_PurchaseValue, NA_PurchaseValue],
    "Normalized Totals":[M_normalized, F_normalized, NA_normalized]
})
PurchasingAnalysis_df.round(2)

,Gender,Normalized Totals,Purchase Count,Purchase Price (Avg),Total Purchase Value
0,Male,4.02,633,2.95,1867.68
1,Female,3.83,136,2.82,382.91
2,Other/Non-Disclosed,4.47,11,3.25,35.74

## Age Demographics

In [28]:
# Break age into bins
# Find min and max for age range 7-45
# merged_df.max()
# merged_df.min()
bins = [0,10,15,20,25,30,35,40,45,50,100]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40-44","45-49",">50"]
pd.cut(merged_df["Age"],bins,labels=group_names).head()

0    35-39
1    20-24
2    30-34
3    20-24
4    20-24
Name: Age, dtype: category
Categories (10, object): [<10 < 10-14 < 15-19 < 20-24 ... 35-39 < 40-44 < 45-49 < >50]

In [29]:
merged_df["Age Groups"] = pd.cut(merged_df["Age"],bins,labels=group_names)
#merged_df.head()

In [30]:
age_summary = merged_df.groupby(["Age Groups"])
#age_summary.count().head(10)

In [31]:
# Purchase count
age_final = pd.DataFrame(merged_df["Age Groups"].value_counts())
#age_final

In [32]:
# Ave purchase price
age_final["Avg Purchase Price"] = age_summary["Price"].mean()
#age_final

In [33]:
# Total purchased value
age_final["Total Purchase Value"] = age_summary["Price"].sum()
#age_final

In [34]:
bins = [0,10,15,20,25,30,35,40,45,50,100]
deduped_df = merged_df.drop_duplicates("SN")
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40-44","45-49",">50"]
pd.cut(deduped_df["Age"],bins,labels=group_names).head()
age_count = deduped_df.groupby(["Age Groups"])
age_count = age_count.count()
age_count = age_count

In [35]:
# Normalized totals
# count of users in each age group

age_final["Normalized Totals"] = age_final["Total Purchase Value"]/age_count["Age"]
age_final = age_final.round(2)
age_final = age_final.rename(columns={"Age Groups":"Purchase Count"})
age_final

,Purchase Count,Avg Purchase Price,Total Purchase Value,Normalized Totals
20-24,305,2.96,902.61,3.86
15-19,184,2.87,528.74,3.80
10-14,78,2.87,224.15,4.15
25-29,76,2.89,219.82,4.23
30-34,58,3.07,178.26,4.05
35-39,44,2.90,127.49,5.10
<10,32,3.02,96.62,4.39
40-44,3,2.88,8.64,2.88
>50,0,NaN,0.00,NaN
45-49,0,NaN,0.00,NaN

## Top Spenders

In [36]:
#Purchase Counter
merged_df["Purchase Counter"] = 1

#merged_df.head()

In [37]:
# Top Spenders
SN_group = merged_df.groupby("SN")
top_spenders = pd.DataFrame(SN_group["Price","Purchase Counter"].sum())
top_spenders = top_spenders.sort_values("Price", ascending=False)
top_spenders = top_spenders.head(5)
top_spenders.head(10)

             Price  Purchase Counter
SN
Undirrala66  17.06                 5
Saedue76     13.56                 4
Mindimnya67  12.74                 4
Haellysu29   12.73                 3
Eoda93       11.58                 3

In [38]:
# Avg Purchase Price
top_spenders["Avg Purchase Price"] = (top_spenders["Price"]/top_spenders["Purchase Counter"])
top_spenders = top_spenders.round(2)

In [39]:
top_spenders = top_spenders.rename(columns = {"Price":"Total Purchase Value", "Purchase Counter":"Puchase Count"})
top_spenders

             Total Purchase Value  Puchase Count  Avg Purchase Price
SN
Undirrala66                 17.06              5                3.41
Saedue76                    13.56              4                3.39
Mindimnya67                 12.74              4                3.18
Haellysu29                  12.73              3                4.24
Eoda93                      11.58              3                3.86

## Most Popular Items

In [40]:
# Top five items
item_group = merged_df.groupby("Item ID")
top_items = pd.DataFrame(item_group["Purchase Counter"].sum())
top_items = top_items.sort_values("Purchase Counter", ascending=False)
top_items = top_items.head(5)

#top_items.head(10)

In [41]:
top_items["Item Price"] = merged_df["Price"]
top_items["Item Name"] = merged_df["Item Name"]
top_items["Total Purchase Value"] = top_items["Purchase Counter"] * top_items["Item Price"]
top_items = top_items.rename(columns={"Purchase Counter":"Purchase Count"})
top_items

,Purchase Count,Item Price,Item Name,Total Purchase Value
Item ID,,,,
39,11,1.27,Stormfury Mace,13.97
84,11,4.51,"Thorn, Satchel of Dark Souls",49.61
31,9,1.93,"Shadow Strike, Glory of Ending Hope",17.37
175,9,4.14,Retribution Axe,37.26
13,9,3.68,"Piety, Guardian of Riddles",33.12

## Most Profitable Items

In [42]:
Price_group = merged_df.groupby(["Item ID", "Item Name"])
top_profit = pd.DataFrame(Price_group["Price"].sum())
top_profit["Item Price"] = Price_group["Price"].mean()
top_profit["Purchase Count"] = Price_group["Purchase Counter"].sum()
top_profit = top_profit.sort_values("Price", ascending=False)
top_profit = top_profit.rename(columns={"Price":"Total Purchase Value"})
top_profit = top_profit.head(5)

top_profit

,,Total Purchase Value,Item Price,Purchase Count
Item ID,Item Name,,,
34,Retribution Axe,37.26,4.14,9
115,Spectral Diamond Doomblade,29.75,4.25,7
32,Orenmir,29.70,4.95,6
103,Singed Scalpel,29.22,4.87,6
107,"Splitter, Foe Of Subtlety",28.88,3.61,8